import cucumber.api.CucumberOptions;
import cucumber.api.junit.Cucumber;
import org.junit.runner.RunWith;

@RunWith(Cucumber.class)
@CucumberOptions(
dryRun = $dryRun,
strict = $strict,
monochrome = $monochrome,
glue = {$glue},
tags = {$tags},
features = {$feature},
plugin = {$plugin},
name = {$name}
)
public class $class {}